h1{
    color: red;
}

h2{
    text-decoration: underline;
}

p{
    font-style: italic;
}

h2+p{
    font-weight: bold;
}

img{
    width: 100px;
    height: 100px;
}

img:hover{
    width: 200px;
    height: 200px;
    border: 3px solid blue;
}

a {
    text-decoration: none;
}

a:visited {
    color: green;
}

a:link{
    color: red;
}

a:active{
    color: blue;
}